



body,html {
  height:100%;
  width:100%;
 
  
   
  }

  
body {
    background: rgb(203,59,169);
    background: linear-gradient(90deg, rgba(203,59,169,1) 0%, rgba(25,233,209,1) 77%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 137%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

}




  .square {
    display: inline-block;
    background-color: #f3ff50;
    height: 100px;
    width: 100px;
    border: 3px solid:goldenrod;
    transform: rotateZ(100deg);
    animation: three 2s infinite;
    animation-direction: alternate;
  }
  
  
@keyframes three {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(100deg);
    }
  }

  
  .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(100% - 290px);
    background-color: purple;
    background: radial-gradient(white, purple, black);
    border-radius: 50%;
  }
  
  .bounce {
    animation-name: moveY; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
  }

  @keyframes moveY {
    0% { 
      transform: translateY(0px); 
      width: 100px; 
    }
    94% { 
      transform: translateX(0px) translateY(188px);
      width: 100px; 
      height: 100px; 
    }
    96% { 
      transform: translateX(-2px) translateY(192px);  
      width: 104px; 
      height: 94px; 
    }
    100% { 
      transform: translateX(-10px) translateY(200px); 
      width: 120px; 
      height: 90px; 
    }
  }






